@use '/src/styles/index.scss' as *;

.container {
    display: flex;
    flex-direction: column;
}

.dropdown {
    align-items: center;
    background: $light-surface-primary;
    border: 1px solid $light-utility-border;
    border-radius: $border-radius-2;
    box-sizing: border-box;
    color: $light-text-primary;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: $spacing-100;
    padding-right: $spacing-75;
    width: 360px;
    &__large {
        height: 48px;
    }
    &__medium {
        height: 32px;
    }
    .text {
        @include font-style($family: standard);
        display: flex;
        flex-direction: column;
        gap: $spacing-nudge-2;
    }
    .label {
        @include font-style($height: normal, $size: 60, $weight: bold);
        color: $light-utility-ui-element-active;
    }
    .option {
        @include font-style($height: normal, $size: 90, $weight: medium);
    }
    .icon {
        color: $light-utility-icon-primary;
        display: flex;
        justify-content: center;
        width: 16px;
        > svg {
            width: 8px;
        }
    }
    &__active {
        border: 1px solid $light-utility-ui-element-active;
    }
    &__default {
        color: $light-text-unselected;
    }
    &__error {
        border: 1px solid $light-utility-status-graphic-alert;
        .label {
            color: $light-utility-status-graphic-alert;
        }
        &__message {
            @include font-style($family: standard, $height: normal, $size: 90, $weight: medium);
            color: $light-text-alert;
            padding-left: $spacing-75;
            margin-top: $spacing-50;
        }
    }
    &:hover {
        background: $light-utility-ui-background-hover;
    }
    &:focus {
        border: 1px solid $light-utility-ui-element-active;
    }
}
.icon {
    color: $light-utility-icon-primary;
    display: flex;
    justify-content: center;
    width: 16px;
    > svg {
        width: 8px;
    }
}
