$neutral0: #f5f6f7;    
$neutral5: #edeef2;    
$neutral10: #d9dbde;    
$neutral20: #c2c4c7;    
$neutral30: #a6a9ad;    
$neutral40: #8e9194;    
$neutral50: #757678;    
$neutral60: #656667;    
$neutral70: #4b4c4d;    
$neutral80: #3d3f40;    
$neutral90: #2a2b2b;    
$neutral95: #202121;    
$neutral100: #101010;    
$blue0: #f5f8ff;    
$blue5: #dfe6f5;    
$blue10: #bdd0f2;    
$blue20: #88b0f7;    
$blue30: #4383fa;    
$blue40: #2268e5;    
$blue50: #0d55d9;    
/* CBS Sports primary color */
$blue60: #004ace;    
$blue70: #0036b5;    
/* 247 Sports primary color */
$blue80: #00259e;    
$blue90: #001373;    
$blue95: #000640;    
$blue100: #050d27;    
$green0: #f7fff9;    
$green5: #dcf2e0;    
$green10: #c3facc;    
$green20: #8df7a0;    
$green30: #58ed78;    
/* Sportsline primary color */
$green40: #10d669;    
$green50: #0dc45f;    
$green60: #09b054;    
$green70: #059646;    
$green80: #04802d;    
$green90: #005922;    
$green95: #004017;    
$green100: #00260b;    
$red0: #fff7f7;    
$red5: #f2dfdf;    
$red10: #fac3c3;    
$red20: #f78d8d;    
$red30: #f94343;    
$red40: #eb2a2a;    
/* Maxpreps primary color */
$red50: #e10500;    
$red60: #cc0e00;    
$red70: #ad1100;    
$red80: #941100;    
$red90: #730b00;    
$red95: #400c06;    
$red100: #2b0604;    
$orange0: #faf7f5;    
$orange5: #f7f0e9;    
$orange10: #f2d5bd;    
$orange20: #f2b98a;    
$orange30: #f2903f;    
$orange40: #f08024;    
$orange50: #d9690d;    
$orange60: #bf5804;    
$orange70: #a34905;    
$orange80: #803704;    
$orange90: #592400;    
$orange95: #401a00;    
$orange100: #2b1400;    
$yellow0: #fcfbf5;    
$yellow5: #faf7eb;    
$yellow10: #f2e7bd;    
$yellow20: #f2dd8a;    
$yellow30: #f2ce3f;    
$yellow40: #f2be2c;    
$yellow50: #ebaa17;    
$yellow60: #cc9618;    
$yellow70: #996c05;    
$yellow80: #805804;    
$yellow90: #593c00;    
$yellow95: #402a00;    
$yellow100: #2b1c00;    
$neutralWhite: #ffffff;    
$neutralBlack: #000000;    
$lightSurfaceOverlayDarken: #10101099;    
/* Default bg for modal popups to sit on */
$lightSurfaceOverlayModalBackground: #10101099;    
/* Dropdown hover, calendar hover, switch hover */
$darkUtilityUiBackgroundHover: #2a2b2b;    
$darkSurfaceOverlayDarken: #10101099;    
$darkSurfaceOverlayModalBackground: #10101099;    
/* Default text color */
$brandTextPrimary: #ffffff;    
/* Supplementary Info (diminished contrast) */
$brandTextSecondary: #dfe6f5;    
/* Lowest level of importance */
$brandTextTertiary: #bdd0f2;    
/* Does not need to meet AA contrast */
$brandTextDisabled: #88b0f7;    
/* Selected date in calendar, selected tab menu item or dropdown */
$brandTextSelected: #ffffff;    
/* Unselected date in calendar, unselected tab menu item or dropdown */
$brandTextUnselected: #bdd0f2;    
/* Default link color */
$brandTextActionLinkPrimary: #ffffff;    
/* Default link hover */
$brandTextActionLinkPrimaryHover: #bdd0f2;    
/* Alternate link color */
$brandTextActionLinkSecondary: #bdd0f2;    
/* Alternate link hover */
$brandTextActionLinkSecondaryHover: #ffffff;    
/* Positive status such as a win (W) */
$brandTextPositive: #58ed78;    
$brandTextPositiveHover: #8df7a0;    
/* Negative status such as a loss (L) */
$brandTextNegative: #f78d8d;    
$brandTextNegativeHover: #fac3c3;    
/* Urgent info like watch now & live events */
$brandTextAlert: #f78d8d;    
/* Baseline for surfaces */
$brandSurfacePrimary: #004ace;    
/* Surface below primary */
$brandSurfaceSecondary: #0036b5;    
/* Additional surface color for constrast */
$brandSurfaceTertiary: #00259e;    
$brandUtilityBorder: #2268e5;    
$brandUtilityDisabled: #4383fa;    
/* Calendar bg, radio button bg, checkbox bg, form fields bg */
$brandUtilityUiBackground: #004ace;    
/* Disabled UI like checkboxes, calendars or fields */
$brandUtilityUiBackgroundDisabled: #004ace;    
/* Dropdown hover, calendar hover, switch hover */
$brandUtilityUiBackgroundHover: #0d55d9;    
$brandUtilityBorderHover: #ffffff;    
/* Indicate tab is active, radio button is on */
$brandUtilityUiElementActive: #ffffff;    
/* Default icon color */
$brandUtilityIconPrimary: #ffffff;    
/* Icon color when primary cannot be used */
$brandUtilityIconSecondary: #bdd0f2;    
$brandBrandPrimary: #ffffff;    
$brandBrandSecondary: #bdd0f2;    
$brandBrand247Sports: #ffffff;    
$brandBrandMaxpreps: #ffffff;    
$brandBrandSportsline: #ffffff;    
/* Can be used to show a positive trajectory */
$brandUtilityStatusGraphicPositive: #58ed78;    
$brandUtilityStatusGraphicPositiveHover: #8df7a0;    
/* Can be used to show a negative trajectory */
$brandUtilityStatusGraphicNegative: #f94343;    
$brandUtilityStatusGraphicNegativeHover: #f78d8d;    
/* Can be used for weather, yellow cards */
$brandUtilityStatusGraphicInfo: #f2ce3f;    
$brandUtilityStatusGraphicInfoHover: #f2dd8a;    
$brandUtilityStatusGraphicCool: #bdd0f2;    
/* Watch or live icons */
$brandUtilityStatusGraphicAlert: #f94343;    
/* Default border color for tables */
$lightTableBaseBorderPrimary: #d9dbde;    
/* First tinted column */
$lightTableHeaderColumnBackground1: #d9dbde66;    
/* For striped table rows or accent rows */
$lightTableBodyRowBackgroundSecondary: #f5f6f780;    
/* Secondary body text color when default cannot be used */
$lightTableBodyTextSecondary: #656667;    
/* First tint for table body column */
$lightTableBodyColumnBackground1: #f5f6f780;    
/* Second tint for table body column */
$lightTableBodyColumnBackground2: #edeef280;    
$darkTableBaseBackground: #f5f6f700;    
$darkTableBaseBorderSecondary: #656667;    
$darkTableHeaderRowBackground: #2a2b2b;    
$darkTableHeaderColumnBackground1: #3d3f4080;    
$darkTableBodyRowBackgroundSecondary: #2a2b2b80;    
$darkTableBodyColumnBackground1: #2a2a2b80;    
$darkTableBodyColumnBackground2: #3d3f4080;    
$lightButtonTertiaryText: #656667;    
$lightButtonPromoPrimaryBackground: #05a342;    
$lightButtonPromoPrimaryBorder: #05a342;    
$darkButtonPrimaryBackground: #0d55d9;    
$darkButtonPrimaryBackgroundHover: #2268e5;    
$darkButtonPrimaryBorder: #0d55d9;    
$darkButtonPrimaryText: #ffffff;    
$darkButtonSecondaryBackground: #ffffff00;    
$darkButtonSecondaryBackgroundHover: #ffffff;    
$darkButtonSecondaryBorder: #ffffff;    
$darkButtonSecondaryText: #ffffff;    
$darkButtonSecondaryTextHover: #4b4c4d;    
$darkButtonTertiaryBorder: #2268e5;    
$darkButtonTertiaryBorderHover: #88b0f7;    
$darkButtonTertiaryText: #4383fa;    
$darkButtonTertiaryTextHover: #88b0f7;    
$darkButtonPromoPrimaryBackground: #05a342;    
$darkButtonPromoPrimaryBackgroundHover: #04802d;    
$darkButtonPromoPrimaryBorder: #05a342;    
$darkButtonPromoPrimaryText: #ffffff;    
$darkButtonPromoSecondaryBackground: #d9690d;    
$darkButtonPromoSecondaryBackgroundHover: #bf5804;    
$darkButtonPromoSecondaryBorder: #d9690d;    
$darkButtonPromoSecondaryText: #ffffff;    
$darkButtonLiveBackground: #e10500;    
$darkButtonLiveBackgroundHover: #cc0e00;    
$darkButtonLiveBorder: #e10500;    
$darkButtonLiveText: #ffffff;    
$brandButtonPrimaryBackground: #0049ce00;    
$brandButtonPrimaryBackgroundHover: #2268e5;    
$brandButtonPrimaryBorder: #dfe6f5;    
$brandButtonPrimaryText: #dfe6f5;    
$brandButtonPromoPrimaryBackground: #05a342;    
$brandButtonPromoPrimaryBackgroundHover: #048209;    
$brandButtonPromoPrimaryBorder: #05a342;    
$brandButtonPromoPrimaryText: #ffffff;    
$brandButtonPromoSecondaryBackground: #d9690d;    
$brandButtonPromoSecondaryBackgroundHover: #b85804;    
$brandButtonPromoSecondaryBorder: #d9690d;    
$brandButtonPromoSecondaryText: #ffffff;    
$brandButtonLiveBackground: #e10500;    
$brandButtonLiveBackgroundHover: #cc0e00;    
$brandButtonLiveBorder: #e10500;    
$brandButtonLiveText: #ffffff;    
$fantasyGamesGolfProps1: #45cc56;    
$fantasyGamesGolfProps2: #469944;    
$fantasyGamesGolfProps3: #a5f40c;    
$fantasyGamesParlayPickem1: #1699dc;    
$fantasyGamesParlayPickem2: #ff4c00;    
$fantasyGamesParlayPickem3: #d0c1c9;    
$fantasyGamesBracketGames1: #e06817;    
$fantasyGamesBracketGames2: #cb3735;    
$fantasyGamesFootballPickem1: #1a69b7;    
$fantasyGamesFootballPickem2: #dd0000;    
$fantasyGamesFootballPickem3: #b4b7c0;    
$fantasyGamesCollegePickem1: #dbb809;    
$fantasyGamesCollegePickem2: #d2a628;    
$fantasyGamesFootballProps1: #00bc6f;    
$fantasyGamesFootballProps2: #077b49;    
$fantasyGamesSoccerProps1: #9d22ff;    
$fantasyGamesSoccerProps2: #adafb2;    
$internalBrandsHqAmPm: #004482;    
$internalBrandsPickSix: #035d10;    
$internalBrandsFantasyFootballToday: #043762;    
$internalBrandsFantasyBaseballToday: #ff0000;    
$internalBrandsTheFirstCut: #0e6011;    
/* Basketball */
$leaguesBig3: #002b5c;    
$leaguesBoxing: #db2126;    
/* Major League Baseball */
$leaguesMlb: #041e42;    
/* Mixed Martial Arts */
$leaguesMma: #771b1b;    
$leaguesNascar: #000000;    
/* Applies to both basketball (NCAAB) and football (NCAAF) */
$leaguesNcaa: #005eb8;    
/* National Hockey League */
$leaguesNhl: #000000;    
/* Men's NBA */
$leaguesNbaPrimary: #1d428a;    
$leaguesNbaSecondary: #c8102e;    
$leaguesGolfPrimary: #285f61;    
/* Ladies Professional Golf Association */
$leaguesGolfLpga: #005288;    
$leaguesGolfMastersGreen1: #518d47;    
$leaguesGolfMastersGreen2: #7ba67b;    
$leaguesGolfMastersGreen3: #185c2a;    
$leaguesGolfMastersGreen4: #1f3b22;    
$leaguesGolfMastersGreen5: #1a3a36;    
$leaguesGolfMastersGreen6: #bdc9c9;    
$leaguesGolfMastersGreen7: #0a2f16;    
$leaguesGolfMastersGreen8: #1e3f40;    
$leaguesGolfMastersGreen9: #234b4b;    
$leaguesGolfMastersYellow1: #faf8a5;    
$leaguesGolfMastersYellow2: #fff200;    
$leaguesGolfMastersYellow3: #e3e902;    
$leaguesGolfPgaWhite: #cfdce6;    
$leaguesGolfPgaGreen1: #1e3f40;    
$leaguesGolfPgaGreen2: #234b4b;    
$leaguesGolfPgaGreen3: #185c2a;    
$leaguesGolfPgaGreen4: #306c6c;    
$leaguesGolfPgaGreen5: #99a3a4;    
$leaguesGolfPgaGreen6: #14312e;    
/* National Football League */
$leaguesNflPrimary: #013369;    
$leaguesNflAfcConference: #ce202c;    
$leaguesNflNfcConference: #003b66;    
$leaguesOlympicsGold: #cc9618;    
$leaguesOlympicsSilver: #a6a9ad;    
$leaguesOlympicsBronze: #805804;    
/* UEFA Champions League (UCL) */
$leaguesSoccerChampionsLeague: #00004b;    
/* UEFA Europa League (UEL) */
$leaguesSoccerEuropaLeaguePrimary: #ff6900;    
$leaguesSoccerEuropaLeagueSecondary: #000000;    
$leaguesSoccerEuropaConferencePrimary: #00be14;    
$leaguesSoccerEuropaConferenceSecondary: #000000;    
/* England's Football League (EPL) */
$leaguesSoccerEnglishPremierLeague: #3d195b;    
/* Spanish Football (soccer) League */
$leaguesSoccerLaLiga: #0c1b23;    
$leaguesSoccerSerieA: #00197d;    
/* German Football (soccer) League */
$leaguesSoccerBundesliga: #d20515;    
/* French Football (soccer) League */
$leaguesSoccerLigue1: #091c3e;    
/* Mexican Football (soccer) League */
$leaguesSoccerLigaMx: #072146;    
/* Major League Soccer (US) */
$leaguesSoccerMls: #e22319;    
/* National Women's Soccer League */
$leaguesSoccerNwslPrimary: #1d2d53;    
$leaguesSoccerNwslSecondary: #d22030;    
/* Currently being used as a light background for World Cup Brackets */
$leaguesSoccerWorldCupLight: #9a1032;    
/* Currently being used as a dark background for World Cup Brackets */
$leaguesSoccerWorldCupDark: #50b0a0;    
$paramountPeakBlue: #0064ff;    
$paramountSecondaryBlue1: #1996ff;    
$paramountSecondaryBlue2: #003296;    
$paramountSecondaryBlue3: #00004b;    
$paramountSnowcapWhite: #ffffff;    
$paramountBasaltBlack: #000000;    
$paramountGray1: #e9eaec;    
$paramountGray2: #e0e3ea;    
$paramountGray3: #d7dce7;    
$paramountGray4: #9ba8bd;    
$paramountGray5: #5b626e;    
$paramountGray6: #1b1c1e;    
$socialFacebook: #1877f2;    
$socialTwitter: #1da1f2;    
$socialYoutube: #ff0000;    
$socialInstagram: #c32aa3;    
$socialPinterest: #bd081c;    
$socialLinkedin: #007bb5;    
$socialGoogle: #4285f4;    
$socialFlipboard: #e12828;    
$socialReddit: #ff4500;    
$socialRss: #f26522;    
/* For use on:
- Light surfaces as a logo color
- as a background color */
$caesarsPine: #173432;    
/* For use on:
- Light surfaces as a logo color
- Dark surfaces as a logo color

Also known as: Caesars Gold */
$caesarsGold: #c5a459;    
/* For use on:
- Dark surfaces as a logo color */
$caesarsCoolGray: #e8e3de;    
$caesarsBgBlack: #070607;    
$caesarsBgWhite: #ffffff;    
$caesarsGoldOnWhite: #98845a;    
$caesarsGoldOnBlack: #cbaa65;    
$leaguesTennis: #275b4d;    
/* Women's NBA */
$leaguesWnba: #fa4d00;    
/* World Wrestling Entertainment */
$leaguesWwe: #222222;    
$leaguesXfl: #02214f;    
$fuboPrimary: #e7542f;    
$leaguesOlympicsBrand: #0078d0;    
$leaguesBellatorPrimary: #ed1c24;    
$leaguesBellatorSecondary: #000000;    
$socialSnapchat: #fffc00;    
$socialTiktok: #000000;    
$lightButtonPrimaryBorderFocused: #ffffff;    
$lightButtonSecondaryBorderFocused: #202121;    
$lightButtonTertiaryBackground: #ffffff00;    
$lightButtonTertiaryBorderFocused: #656667;    
$darkButtonPrimaryBorderFocused: #ffffff;    
$darkButtonSecondaryBorderFocused: #ffffff;    
$darkButtonTertiaryBackground: #00000000;    
$darkButtonTertiaryBorderFocused: #4383fa;    
$lightButtonSecondaryTextHover: #202121;    
/* F1 */
$leaguesFormula1: #000000;    
$leaguesSoccerWomensWorldCupPrimaryLight: #ec5e2f;    
$leaguesSoccerWomensWorldCupSecondaryLight: #395a6b;    
$leaguesSoccerWomensWorldCupPrimaryDark: #f2a44b;    
$leaguesSoccerWomensWorldCupSecondaryDark: #4c726c;    
/* StubHub's foundational color for it's Logo on a light background */
$stubhubPrimary: #3f1d74;    
/* StubHub's foundational color for its Logo on a Dark background */
$stubhubSecondary: #ffffff;    
/* StubHub's Text color for its Logo on a Light background */
$stubhubTertiary: #e4eef3;    
/* Default text color */
$lightTextPrimary: $neutral95;    
/* Supplementary Info (diminished contrast) */
$lightTextSecondary: $neutral60;    
/* *Only used on Primary Surface. Commonly used for metadata. */
$lightTextTertiary: $neutral50;    
/* Not actionable. Does not need to meet AA contrast */
$lightTextDisabled: $neutral30;    
/* Selected date in calendar, selected tab menu item or dropdown */
$lightTextSelected: $neutral95;    
/* Unselected date in calendar, unselected tab menu item or dropdown */
$lightTextUnselected: $neutral60;    
/* Positive status such as a win (W) */
$lightTextPositive: $green80;    
$lightTextPositiveHover: $green90;    
/* Negative status such as a loss (L) */
$lightTextNegative: $red60;    
$lightTextNegativeHover: $red70;    
/* Urgent info like watch now & live events */
$lightTextAlert: $red50;    
/* Default link color */
$lightTextActionLinkPrimary: $neutral95;    
/* Default link hover */
$lightTextActionLinkPrimaryHover: $blue70;    
/* Alternate link color */
$lightTextActionLinkSecondary: $blue60;    
/* Alternate link hover */
$lightTextActionLinkSecondaryHover: $blue70;    
/* Baseline for surfaces */
$lightSurfacePrimary: $neutralWhite;    
/* The lowest & darkest surface, usually used to lift the primary surface */
$lightSurfaceSecondary: $neutral5;    
/* Additional surface color for contrast */
$lightSurfaceTertiary: $neutral0;    
/* Can be used for nav or areas to promote brand */
$lightSurfaceBrand: $blue60;    
/* Default border color */
$lightUtilityBorder: $neutral10;    
/* Checkbox hover, radio hover */
$lightUtilityBorderHover: $blue70;    
/* Graphics that need a disabled color */
$lightUtilityDisabled: $neutral30;    
/* Calendar bg, radio button bg, checkbox bg, form fields bg */
$lightUtilityUiBackground: $neutralWhite;    
/* Disabled UI like checkboxes, calendars or fields */
$lightUtilityUiBackgroundDisabled: $neutral0;    
/* Dropdown hover, calendar hover, switch hover */
$lightUtilityUiBackgroundHover: $blue0;    
/* Indicate tab is active, radio button is on */
$lightUtilityUiElementActive: $blue60;    
/* Default icon color */
$lightUtilityIconPrimary: $neutral95;    
/* Icon color when primary cannot be used */
$lightUtilityIconSecondary: $neutral60;    
/* Can be used to show a positive trajectory */
$lightUtilityStatusGraphicPositive: $green70;    
$lightUtilityStatusGraphicPositiveHover: $green80;    
/* Can be used to show a negative trajectory */
$lightUtilityStatusGraphicNegative: $red60;    
$lightUtilityStatusGraphicNegativeHover: $red70;    
/* Can be used for weather, yellow cards */
$lightUtilityStatusGraphicInfo: $yellow50;    
$lightUtilityStatusGraphicInfoHover: $yellow60;    
/* Can be used to show a cooling down trajectory */
$lightUtilityStatusGraphicCool: $blue40;    
/* Watch or live icons */
$lightUtilityStatusGraphicAlert: $red50;    
/* Can be used to promote brand where other colors cannot be used */
$lightBrandPrimary: $blue60;    
/* Promote brand where primary brand cannot be used */
$lightBrandSecondary: $blue80;    
/* Promote brand where primary & seceondary brand cannot be used */
$lightBrandTertiary: $blue100;    
$lightBrandMaxpreps: $red50;    
$lightBrand247sports: $blue80;    
$lightBrandSportsline: $green40;    
/* Default text color */
$darkTextPrimary: $neutralWhite;    
/* Supplementary Info (diminished contrast) */
$darkTextSecondary: $neutral20;    
/* *Only used on Primary Surface. Commonly used for metadata. */
$darkTextTertiary: $neutral40;    
/* Not actionable. Does not need to meet AA contrast */
$darkTextDisabled: $neutral60;    
/* Selected date in calendar, selected tab menu item or dropdown */
$darkTextSelected: $neutralWhite;    
/* Eg. Unselected date in calendar, unselected tab menu item or dropdown */
$darkTextUnselected: $neutral40;    
/* Positive status such as a win (W) */
$darkTextPositive: $green50;    
$darkTextPositiveHover: $green40;    
/* Do not use on tertiary surfaces. Negative status such as a loss (L).  */
$darkTextNegative: $red30;    
$darkTextNegativeHover: $red20;    
/* Do not use on tertiary surfaces. Urgent info like watch now & live events. */
$darkTextAlert: $red30;    
/* Default link color */
$darkTextActionLinkPrimary: $neutralWhite;    
$darkTextActionLinkPrimaryHover: $neutral40;    
/* Alternate link color */
$darkTextActionLinkSecondary: $blue30;    
$darkTextActionLinkSecondaryHover: $blue20;    
/* Baseline for surfaces */
$darkSurfacePrimary: $neutral95;    
/* The lowest & darkest surface, usually used to lift the primary surface */
$darkSurfaceSecondary: $neutral100;    
/* Additional surface color for contrast */
$darkSurfaceTertiary: $neutral90;    
$darkSurfaceBrand: $blue30;    
/* Default border color */
$darkUtilityBorder: $neutral80;    
/* Checkbox hover, radio hover */
$darkUtilityBorderHover: $blue40;    
/* Any graphics that need a disabled color */
$darkUtilityDisabled: $neutral60;    
/* Calendar bg, radio button bg, checkbox bg, form fields bg */
$darkUtilityUiBackground: $neutral100;    
/* Disabled UI like checkboxes, calendars or fields */
$darkUtilityUiBackgroundDisabled: $neutral95;    
/* Indicate tab is active, radio button is on */
$darkUtilityUiElementActive: $blue30;    
/* Default icon color */
$darkUtilityIconPrimary: $neutral0;    
/* Icon color when primary cannot be used */
$darkUtilityIconSecondary: $neutral20;    
/* Can be used to promote brand where other colors cannot be used */
$darkBrandPrimary: $neutralWhite;    
/* Promote brand where primary brand cannot be used */
$darkBrandSecondary: $blue40;    
/* Promote brand where primary & seceondary brand cannot be used */
$darkBrandTertiary: $blue20;    
$darkBrand247sports: $blue40;    
$darkBrandMaxpreps: $red50;    
$darkBrandSportsline: $green40;    
/* Can be used to show a positive trajectory */
$darkUtilityStatusGraphicPositive: $green50;    
$darkUtilityStatusGraphicPositiveHover: $green40;    
/* Can be used to show a negative trajectory */
$darkUtilityStatusGraphicNegative: $red30;    
$darkUtilityStatusGraphicNegativeHover: $red20;    
/* Can be used for weather, yellow cards */
$darkUtilityStatusGraphicInfo: $yellow30;    
$darkUtilityStatusGraphicInfoHover: $yellow20;    
/* Can be used to show a cooling down trajectory */
$darkUtilityStatusGraphicCool: $blue30;    
/* Watch or live icons */
$darkUtilityStatusGraphicAlert: $red50;    
/* Default background colors for tables */
$lightTableBaseBackground: $neutralWhite;    
/* A secondary border color may be required for darker rows or cols */
$lightTableBaseBorderSecondary: $neutral20;    
/* Default header row background */
$lightTableHeaderRowBackground: $neutral0;    
/* Default header row text color */
$lightTableHeaderText: $neutral70;    
/* For links in header rows */
$lightTableHeaderTextHover: $blue70;    
/* Second tinted column */
$lightTableHeaderColumnBackground2: $neutral10;    
/* Default body row background color */
$lightTableBodyRowBackgroundPrimary: $neutralWhite;    
/* Default hover color for body rows */
$lightTableBodyRowBackgroundHover: $blue0;    
/* For sort columns */
$lightTableBodyColumnBackgroundActive: $blue0;    
/* Default body text color */
$lightTableBodyTextPrimary: $neutral95;    
$darkTableBaseBorderPrimary: $darkUtilityBorder;    
$darkTableHeaderText: $neutral10;    
$darkTableHeaderTextHover: $blue20;    
$darkTableHeaderColumnBackground2: $neutral80;    
$darkTableBodyRowBackgroundPrimary: $darkSurfaceSecondary;    
$darkTableBodyRowBackgroundHover: $neutral80;    
$darkTableBodyColumnBackgroundActive: $neutral80;    
$darkTableBodyTextPrimary: $darkTextPrimary;    
$darkTableBodyTextSecondary: $darkTextSecondary;    
$lightButtonPrimaryBackground: $blue60;    
$lightButtonPrimaryBackgroundHover: $blue70;    
$lightButtonPrimaryBorder: $blue60;    
$lightButtonPrimaryText: $neutralWhite;    
$lightButtonSecondaryBackground: $neutralWhite;    
$lightButtonSecondaryBackgroundHover: $blue0;    
$lightButtonSecondaryBorder: $neutral10;    
$lightButtonSecondaryText: $neutral95;    
$lightButtonTertiaryBorder: $neutral10;    
$lightButtonTertiaryBorderHover: $blue70;    
$lightButtonTertiaryTextHover: $blue70;    
$lightButtonPromoPrimaryBackgroundHover: $green80;    
$lightButtonPromoPrimaryText: $neutralWhite;    
$lightButtonPromoSecondaryBackground: $orange50;    
$lightButtonPromoSecondaryBackgroundHover: $orange60;    
$lightButtonPromoSecondaryBorder: $orange50;    
$lightButtonPromoSecondaryText: $neutralWhite;    
$lightButtonLiveBackground: $red60;    
$lightButtonLiveBackgroundHover: $red70;    
$lightButtonLiveBorder: $red60;    
$lightButtonLiveText: $neutralWhite;    
