$measureSpacing25: 4px;    
$measureSpacing50: 8px;    
$measureSpacing75: 12px;    
$measureSpacing125: 20px;    
$measureSpacing150: 24px;    
$measureSpacing200: 32px;    
$measureSpacing250: 40px;    
$measureSpacing300: 48px;    
$measureSpacing400: 64px;    
$measureSpacing600: 96px;    
$measureSpacing800: 128px;    
$measureFontSize600: 96px;    
$measureFontSize500: 80px;    
$measureFontSize400: 64px;    
$measureFontSize300: 48px;    
$measureFontSize200: 32px;    
$measureFontSize150: 24px;    
$measureFontSize125: 20px;    
$measureFontSize110: 18px;    
$measureFontSize100: 16px;    
$measureFontSize75: 12px;    
$measureFontSize60: 10px;    
$measureFontWeightBlack: 900px;    
$measureFontWeightBold: 700px;    
$measureFontWeightMedium: 500px;    
$measureFontWeightRegular: 400px;    
$measureFontWeightLight: 200px;    
$measureLetterSpacingNone: 0px;    
$measureLetterSpacingTight: 0.02px;    
$measureLetterSpacingLoose: 0.03px;    
$measureLetterSpacingXloose: 0.06px;    
$measureBorderRadius0: 0px;    
$measureBorderRadius2: 2px;    
$measureBorderRadius4: 4px;    
$measureBorderRadius6: 6px;    
$measureBorderRadius8: 8px;    
$measureBorderRadius12: 12px;    
$measureBorderRadiusFull: 50px;    
