$spacing25: 4px;    
$spacing50: 8px;    
$spacing75: 12px;    
$spacing125: 20px;    
$spacing150: 24px;    
$spacing200: 32px;    
$spacing250: 40px;    
$spacing300: 48px;    
$spacing400: 64px;    
$spacing600: 96px;    
$spacing800: 128px;    
$fontSize600: 96px;    
$fontSize500: 80px;    
$fontSize400: 64px;    
$fontSize300: 48px;    
$fontSize200: 32px;    
$fontSize150: 24px;    
$fontSize125: 20px;    
$fontSize110: 18px;    
$fontSize100: 16px;    
$fontSize75: 12px;    
$fontSize60: 10px;    
$fontWeightBlack: 900px;    
$fontWeightBold: 700px;    
$fontWeightMedium: 500px;    
$fontWeightRegular: 400px;    
$fontWeightLight: 200px;    
$letterSpacingNone: 0px;    
$letterSpacingTight: 0.02px;    
$letterSpacingLoose: 0.03px;    
$letterSpacingXloose: 0.06px;    
$borderRadius0: 0px;    
$borderRadius2: 2px;    
$borderRadius4: 4px;    
$borderRadius6: 6px;    
$borderRadius8: 8px;    
$borderRadius12: 12px;    
$borderRadiusFull: 50px;    
