
.letterSpacingNone 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.letterSpacingTight 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.02em; 
  text-indent: 0px; 
}    

.letterSpacingLoose 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.letterSpacingXloose 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.06em; 
  text-indent: 0px; 
}    

.fontWeightBlack 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.fontWeightBold 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.fontWeightMedium 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.fontWeightRegular 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.fontWeightLight 
{ 
  
  font-family: "FS Industrie Var Std";
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.lineHeightNone 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.lineHeightNormal 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.lineHeightBody 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 130%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.lineHeightComfy 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 160%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

.fontSize90 
{ 
  
  font-family: "FS Industrie Nw";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.08em; 
  text-indent: 0px; 
}    

.fontFamilyStandard 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120.00000762939453%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.fontFamilyNarrow 
{ 
  
  font-family: "FS Industrie Nw";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

@mixin letterSpacingNone 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin letterSpacingTight 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.02em; 
  text-indent: 0px; 
}    

@mixin letterSpacingLoose 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin letterSpacingXloose 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.06em; 
  text-indent: 0px; 
}    

@mixin fontWeightBlack 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin fontWeightBold 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin fontWeightMedium 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin fontWeightRegular 
{ 
  
  font-family: "FS Industrie VF Std";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin fontWeightLight 
{ 
  
  font-family: "FS Industrie Var Std";
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin lineHeightNone 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin lineHeightNormal 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 120.00000762939453%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin lineHeightBody 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 130%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin lineHeightComfy 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 160%;
  letter-spacing: -0.03em; 
  text-indent: 0px; 
}    

@mixin fontSize90 
{ 
  
  font-family: "FS Industrie Nw";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.08em; 
  text-indent: 0px; 
}    

@mixin fontFamilyStandard 
{ 
  
  font-family: "FS Industrie";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120.00000762939453%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin fontFamilyNarrow 
{ 
  
  font-family: "FS Industrie Nw";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120.00000762939453%;
  letter-spacing: 0.04em; 
  text-indent: 0px; 
}    

