@use '/src/styles/index' as *;

.button {
    @include font-style($family: standard, $weight: medium, $height: normal);
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    gap: $spacing-25;
    justify-content: center;
    padding-left: $spacing-75;
    padding-right: $spacing-75;
    text-align: center;
    text-decoration: none;

    &__icon {
        align-items: center;
        display: flex;
        justify-content: center;
        &__large {
            > svg {
                width: 18px;
                height: 18px;
            }
        }
        &__medium {
            > svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__logo {
        align-items: center;
        display: flex;
        justify-content: center;

        &__large {
            > svg {
                height: 12px;
                width: auto;
            }
        }

        &__medium {
            > svg {
                height: 9.5px;
                width: auto;
            }
        }

    }

    &__large {
        @include font-style($size: 100);
        padding: $spacing-75 $spacing-150;
        height: 48px;
    }

    &__medium {
        @include font-style($size: 90);
        padding: $spacing-50 $spacing-75;
        height: 32px;
    }
    
    &__small {
        @include font-style($size: 75);
        height: 28px;
        padding: $spacing-50 $spacing-75;
    }

    &__hug {

    }

    &__full-width {
        width: 100%;
    }
    
    &__light {

        &__primary {
            background: $light-button-primary-background;
            border: 0px;
            color: $light-button-primary-text;

            &__disabled {
                background: $light-utility-disabled;
            }
    
            &:hover {
                transition-duration: 200ms;
                background: $light-button-primary-background-hover;
            }

            &:focus {
                box-shadow: inset 0 0 0 3px #fff;
                background: $light-button-primary-background-hover;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

        }
    
        &__secondary {
            background: $light-button-secondary-background;
            border: 1px solid $light-button-secondary-border;
            color: $light-button-secondary-text;
            > svg {
                color: black;
            }
    
            &:hover {
                transition-duration: 200ms;
                background: $light-button-secondary-background-hover;
            }

            &:focus {
                box-shadow: inset 0 0 0 3px #202121;
                background: $light-button-secondary-background;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                background: $light-utility-disabled;
                color: $light-button-primary-text;
            }
        }
    
        &__tertiary {
            background: none;
            border: 1px solid rgb(0,0,0,0);
            color: $light-button-tertiary-text;
    
            &:hover {
                transition-duration: 200ms;
                border: 1px solid $light-button-tertiary-border-hover;
            }

            &:focus {
                border: 1px solid $light-button-tertiary-border-hover;
                box-shadow: inset 0 0 0 3px #656667;
                background: $light-button-secondary-background;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                color: $light-text-disabled;
            }

        }
    }

    &__dark {

        &__primary {
            background: $dark-button-primary-background;
            border: none;
            color: $dark-button-primary-text;
    
            &:hover {
                transition-duration: 200ms;
                background: $dark-button-primary-background-hover;
            }

            &:focus {
                box-shadow: inset 0 0 0 3px #fff;
                background: $dark-button-primary-background-hover;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                background: $dark-utility-disabled;
            }
        }
    
        &__secondary {
            background: $dark-button-secondary-background;
            border: 1px solid $dark-button-secondary-border;
            color: $dark-button-secondary-text;
    
            &:hover {
                transition-duration: 200ms;
                background: $dark-button-secondary-background-hover;
                color: $dark-button-secondary-text-hover;
            }

            &:focus {
                box-shadow: inset 0 0 0 3px #202121;
                background: $dark-button-secondary-background;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                background: $dark-utility-disabled;
                border: 1px solid $dark-utility-disabled;
                color: $dark-button-primary-text;
            }
        }
    
        &__tertiary {
            background: none;
            border: none;
            color: $dark-button-tertiary-text;
    
            &:hover {
                transition-duration: 200ms;
                border: 1px solid $dark-button-tertiary-border-hover;
            }

            &:focus {
                border: 1px solid $dark-button-tertiary-border-hover;
                box-shadow: inset 0 0 0 3px #656667;
                background: $dark-button-secondary-background;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                color: $dark-text-disabled;
            }
        }
    }

    &__dynamic {

        &__primary {
            background: $dynamic-button-primary-background;
            border: 0px;
            color: $dynamic-button-primary-text;

            &__disabled {
                background: $dynamic-utility-disabled;
            }
    
            &:hover {
                transition-duration: 200ms;
                background: $dynamic-button-primary-background-hover;
            }

            &:focus {
                box-shadow: inset 0 0 0 3px #fff;
                background: $dynamic-button-primary-background-hover;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

        }
    
        &__secondary {
            background: $dynamic-button-secondary-background;
            border: 1px solid $dynamic-button-secondary-border;
            color: $dynamic-button-secondary-text;
            > svg {
                color: black;
            }
    
            &:hover {
                transition-duration: 200ms;
                background: $dynamic-button-secondary-background-hover;
                color: $dynamic-button-secondary-text-hover;
            }

            &:focus {
                box-shadow: inset 0 0 0 3px #202121;
                background: $dynamic-button-secondary-background;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                background: $dynamic-utility-disabled;
                color: $dynamic-button-primary-text;
            }
        }
    
        &__tertiary {
            background: none;
            border: 1px solid rgb(0,0,0,0);
            color: $dynamic-button-tertiary-text;
    
            &:hover {
                transition-duration: 200ms;
                border: 1px solid $light-button-tertiary-border-hover;
            }

            &:focus {
                border: 1px solid $dynamic-button-tertiary-border-hover;
                box-shadow: inset 0 0 0 3px #656667;
                background: $dynamic-button-secondary-background;
                text-decoration: underline;
                transition-duration: 200ms;
                transition-property: box-shadow;
            }

            &__disabled {
                color: $dynamic-text-disabled;
            }

        }
    }
}

.radius {

    &__0 {
        border-radius: $border-radius-0;
    }

    &__2 {
        border-radius: $border-radius-2;
    }

    &__4 {
        border-radius: $border-radius-4;
    }

    &__6 {
        border-radius: $border-radius-6;
    }

    &__8 {
        border-radius: $border-radius-8;
    }

    &__12 {
        border-radius: $border-radius-12;
    }

    &__full {
        border-radius: $border-radius-full;
    }
}