$dynamic-text-primary: #fff;
$dynamic-text-secondary: rgba(255, 255, 255, 0.85);
$dynamic-text-tertiary: rgba(255, 255, 255, 0.75);
$dynamic-text-disabled: rgba(255, 255, 255, 0.65);
$dynamic-text-selected: #fff;
$dynamic-text-unselected: rgba(255, 255, 255, 0.85);
$dynamic-text-positive: #58ed78;
$dynamic-text-positive-hover: #8df7a0;
$dynamic-text-negative: #f78d8d;
$dynamic-text-negative-hover: #fac3c3;
$dynamic-text-alert: #e10500;
$dynamic-text-action-link-primary: #fff;
$dynamic-text-action-link-primary-hover: rgba(255, 255, 255, 0.85);
$dynamic-text-action-link-secondary: rgba(255, 255, 255, 0.85);
$dynamic-text-action-link-secondary-hover: rgba(255, 255, 255, 0.75);
$dynamic-surface-primary: rgba(32, 33, 33, 0);
$dynamic-surface-secondary: rgba(16, 16, 16, 0.15);
$dynamic-surface-tertiary: rgba(16, 16, 16, 0.25);
$dynamic-surface-brand: #4383fa;
$dynamic-surface-overlay-darken: rgba(16, 16, 16, 0.6);
$dynamic-surface-overlay-modal-background: rgba(16, 16, 16, 0.6);
$dynamic-utility-border: rgba(255, 255, 255, 0.3);
$dynamic-utility-border-hover: #fff;
$dynamic-utility-disabled: rgba(255, 255, 255, 0.25);
$dynamic-utility-ui-background: rgba(0, 0, 0, 0);
$dynamic-utility-ui-background-disabled: rgba(16, 16, 16, 0.15);
$dynamic-utility-ui-element-active: #fff;
$dynamic-utility-ui-background-hover: rgba(255, 255, 255, 0.15);
$dynamic-utility-icon-primary: #fff;
$dynamic-utility-icon-secondary: rgba(255, 255, 255, 0.75);
$dynamic-utility-focus: rgba(255, 255, 255, 0.5);
$dynamic-utility-status-graphic-positive: #58ed78;
$dynamic-utility-status-graphic-positive-hover: #8df7a0;
$dynamic-utility-status-graphic-negative: #f78d8d;
$dynamic-utility-status-graphic-negative-hover: #f2c3c3;
$dynamic-utility-status-graphic-info: #f2ce3f;
$dynamic-utility-status-graphic-info-hover: #f2dd8a;
$dynamic-utility-status-graphic-cool: #bdd0f2;
$dynamic-utility-status-graphic-alert: #f94343;
$dynamic-brand-primary: #fff;
$dynamic-brand-secondary: rgba(255, 255, 255, 0.8);
$dynamic-brand-tertiary: rgba(255, 255, 255, 0.65);
$dynamic-brand-247sports: #fff;
$dynamic-brand-maxpreps: #fff;
$dynamic-brand-sportsline: #fff;
$dynamic-table-base-background: rgba(255, 255, 255, 0);
$dynamic-table-base-border-primary: rgba(255, 255, 255, 0.3);
$dynamic-table-base-border-secondary: rgba(255, 255, 255, 0.15);
$dynamic-table-header-row-background: rgba(255, 255, 255, 0);
$dynamic-table-header-text: #fff;
$dynamic-table-header-text-hover: rgba(255, 255, 255, 0.85);
$dynamic-table-header-column-background-1: rgba(255, 255, 255, 0.15);
$dynamic-table-header-column-background-2: rgba(255, 255, 255, 0.25);
$dynamic-table-body-row-background-primary: rgba(255, 255, 255, 0);
$dynamic-table-body-row-background-secondary: rgba(255, 255, 255, 0.15);
$dynamic-table-body-row-background-hover: rgba(255, 255, 255, 0.25);
$dynamic-table-body-column-background-active: rgba(255, 255, 255, 0.25);
$dynamic-table-body-text-primary: #fff;
$dynamic-table-body-text-secondary: rgba(255, 255, 255, 0.85);
$dynamic-table-body-column-background-1: rgba(255, 255, 255, 0.15);
$dynamic-table-body-column-background-2: rgba(255, 255, 255, 0.25);
$dynamic-button-primary-background: #fff;
$dynamic-button-primary-border: #fff;
$dynamic-button-primary-text: #101010;
$dynamic-button-primary-background-hover: rgba(255, 255, 255, 0.75);
$dynamic-button-primary-border-hover: rgba(255, 255, 255, 0.75);
$dynamic-button-primary-text-hover: #101010;
$dynamic-button-secondary-background: rgba(255, 255, 255, 0.1);
$dynamic-button-secondary-border: rgba(255, 255, 255, 0.1);
$dynamic-button-secondary-text: #fff;
$dynamic-button-secondary-background-hover: rgba(255, 255, 255, 0.2);
$dynamic-button-secondary-border-hover: rgba(255, 255, 255, 0.2);
$dynamic-button-secondary-text-hover: #fff;
$dynamic-button-tertiary-background: rgba(255, 255, 255, 0);
$dynamic-button-tertiary-border: rgba(255, 255, 255, 0.3);
$dynamic-button-tertiary-text: #fff;
$dynamic-button-tertiary-background-hover: #fff;
$dynamic-button-tertiary-border-hover: #fff;
$dynamic-button-tertiary-text-hover: #101010;
$dynamic-button-live-background: #e10500;
$dynamic-button-live-background-hover: #cc0e00;
$dynamic-button-live-border: #e10500;
$dynamic-button-live-text: #fff;
$dynamic-button-loading-background: rgba(255, 255, 255, 0.25);
$dynamic-button-loading-border: rgba(255, 255, 255, 0.25);
$dynamic-button-loading-icon-active: rgba(255, 255, 255, 0.6);
$dynamic-button-loading-icon-inactive: #fff;
$dynamic-button-disabled-background: rgba(255, 255, 255, 0.1);
$dynamic-button-disabled-border: rgba(255, 255, 255, 0.1);
$dynamic-button-disabled-text: rgba(255, 255, 255, 0.4);
$dynamic-button-toggle-unselected-background: rgba(255, 255, 255, 0);
$dynamic-button-toggle-unselected-background-hover: rgba(255, 255, 255, 0.75);
$dynamic-button-toggle-unselected-text: #fff;
$dynamic-button-toggle-unselected-text-hover: #101010;
$dynamic-button-toggle-unselected-border: rgba(255, 255, 255, 0.3);
$dynamic-button-toggle-selected-background: #fff;
$dynamic-button-toggle-selected-background-hover: rgba(255, 255, 255, 0.75);
$dynamic-button-toggle-selected-text: #101010;
$dynamic-button-toggle-selected-border: #fff;
$dynamic-button-toggle-selected-border-hover: rgba(255, 255, 255, 0.75);
$light-text-primary: #202121;
$light-text-secondary: #656667;
$light-text-tertiary: #757678;
$light-text-disabled: #a6a9ad;
$light-text-selected: #202121;
$light-text-unselected: #656667;
$light-text-positive: #04802d;
$light-text-positive-hover: #005922;
$light-text-negative: #cc0e00;
$light-text-negative-hover: #ad1100;
$light-text-alert: #e10500;
$light-text-action-link-primary: #202121;
$light-text-action-link-primary-hover: #0036b5;
$light-text-action-link-secondary: #004ace;
$light-text-action-link-secondary-hover: #0036b5;
$light-surface-primary: #fff;
$light-surface-secondary: #edeef2;
$light-surface-tertiary: #f5f6f7;
$light-surface-brand: #004ace;
$light-surface-overlay-darken: rgba(16, 16, 16, 0.6);
$light-surface-overlay-modal-background: rgba(16, 16, 16, 0.6);
$light-utility-border: #d9dbde;
$light-utility-border-hover: #0036b5;
$light-utility-disabled: #a6a9ad;
$light-utility-ui-background: #fff;
$light-utility-ui-background-disabled: #f5f6f7;
$light-utility-ui-background-hover: #f5f8ff;
$light-utility-ui-element-active: #004ace;
$light-utility-icon-primary: #202121;
$light-utility-icon-secondary: #656667;
$light-utility-focus: #88b0f7;
$light-utility-status-graphic-positive: #059646;
$light-utility-status-graphic-positive-hover: #04802d;
$light-utility-status-graphic-negative: #cc0e00;
$light-utility-status-graphic-negative-hover: #ad1100;
$light-utility-status-graphic-info: #ebaa17;
$light-utility-status-graphic-info-hover: #cc9618;
$light-utility-status-graphic-cool: #2268e5;
$light-utility-status-graphic-alert: #e10500;
$light-brand-primary: #004ace;
$light-brand-secondary: #00259e;
$light-brand-tertiary: #050d27;
$light-brand-maxpreps: #e10500;
$light-brand-247sports: #00259e;
$light-brand-sportsline: #10d669;
$light-table-base-background: #fff;
$light-table-base-border-primary: #d9dbde;
$light-table-base-border-secondary: #c2c4c7;
$light-table-header-row-background: #f5f6f7;
$light-table-header-text: #4b4c4d;
$light-table-header-text-hover: #0036b5;
$light-table-header-column-background-1: rgba(217, 219, 222, 0.4);
$light-table-header-column-background-2: #d9dbde;
$light-table-body-row-background-primary: #fff;
$light-table-body-row-background-secondary: rgba(245, 246, 247, 0.5);
$light-table-body-row-background-hover: #f5f8ff;
$light-table-body-column-background-active: #f5f8ff;
$light-table-body-text-primary: #202121;
$light-table-body-text-secondary: #656667;
$light-table-body-column-background-1: rgba(245, 246, 247, 0.5);
$light-table-body-column-background-2: rgba(237, 238, 242, 0.5);
$light-button-primary-background: #004ace;
$light-button-primary-border: #004ace;
$light-button-primary-text: #fff;
$light-button-primary-background-hover: #00259e;
$light-button-primary-border-hover: #00259e;
$light-button-primary-text-hover: #fff;
$light-button-secondary-background: #edeef2;
$light-button-secondary-border: #edeef2;
$light-button-secondary-text: #202121;
$light-button-secondary-background-hover: #d9dbde;
$light-button-secondary-border-hover: #d9dbde;
$light-button-secondary-text-hover: #202121;
$light-button-tertiary-background: rgba(255, 255, 255, 0);
$light-button-tertiary-border: #d9dbde;
$light-button-tertiary-text: #202121;
$light-button-tertiary-background-hover: #d9dbde;
$light-button-tertiary-border-hover: #d9dbde;
$light-button-tertiary-text-hover: #202121;
$light-button-live-background: #cc0e00;
$light-button-live-background-hover: #ad1100;
$light-button-live-border: #cc0e00;
$light-button-live-text: #fff;
$light-button-loading-background: #edeef2;
$light-button-loading-border: #edeef2;
$light-button-loading-icon-active: #a6a9ad;
$light-button-loading-icon-inactive: #757678;
$light-button-disabled-background: #edeef2;
$light-button-disabled-border: #edeef2;
$light-button-disabled-text: #a6a9ad;
$light-button-toggle-unselected-background: rgba(255, 255, 255, 0);
$light-button-toggle-unselected-background-hover: rgba(0, 74, 206, 0.1);
$light-button-toggle-unselected-text: #004ace;
$light-button-toggle-unselected-text-hover: #004ace;
$light-button-toggle-unselected-border: #004ace;
$light-button-toggle-selected-background: #0d55d9;
$light-button-toggle-selected-background-hover: #00259e;
$light-button-toggle-selected-text: #fff;
$light-button-toggle-selected-border: #0d55d9;
$light-button-toggle-selected-border-hover: #00259e;
$dark-text-primary: #fff;
$dark-text-secondary: #c2c4c7;
$dark-text-tertiary: #8e9194;
$dark-text-disabled: #656667;
$dark-text-selected: #fff;
$dark-text-unselected: #8e9194;
$dark-text-positive: #0dc45f;
$dark-text-positive-hover: #10d669;
$dark-text-negative: #f94343;
$dark-text-negative-hover: #f78d8d;
$dark-text-alert: #f94343;
$dark-text-action-link-primary: #edeef2;
$dark-text-action-link-primary-hover: #fff;
$dark-text-action-link-secondary: #4383fa;
$dark-text-action-link-secondary-hover: #88b0f7;
$dark-surface-primary: #202121;
$dark-surface-secondary: #101010;
$dark-surface-tertiary: #2a2b2b;
$dark-surface-brand: #4383fa;
$dark-surface-overlay-darken: rgba(16, 16, 16, 0.6);
$dark-surface-overlay-modal-background: rgba(16, 16, 16, 0.6);
$dark-utility-border: #3d3f40;
$dark-utility-border-hover: #2268e5;
$dark-utility-disabled: #656667;
$dark-utility-ui-background: #101010;
$dark-utility-ui-background-disabled: #202121;
$dark-utility-ui-background-hover: #2a2b2b;
$dark-utility-ui-element-active: #4383fa;
$dark-utility-icon-primary: #f5f6f7;
$dark-utility-icon-secondary: #c2c4c7;
$dark-utility-focus: #88b0f7;
$dark-utility-status-graphic-positive: #0dc45f;
$dark-utility-status-graphic-positive-hover: #10d669;
$dark-utility-status-graphic-negative: #f94343;
$dark-utility-status-graphic-negative-hover: #f78d8d;
$dark-utility-status-graphic-info: #f2ce3f;
$dark-utility-status-graphic-info-hover: #f2dd8a;
$dark-utility-status-graphic-cool: #4383fa;
$dark-utility-status-graphic-alert: #e10500;
$dark-brand-primary: #fff;
$dark-brand-secondary: #2268e5;
$dark-brand-tertiary: #88b0f7;
$dark-brand-247sports: #2268e5;
$dark-brand-maxpreps: #e10500;
$dark-brand-sportsline: #10d669;
$dark-table-base-background: rgba(0, 0, 0, 0);
$dark-table-base-border-primary: #3d3f40;
$dark-table-base-border-secondary: #656667;
$dark-table-header-row-background: #2a2b2b;
$dark-table-header-text: #d9dbde;
$dark-table-header-text-hover: #88b0f7;
$dark-table-header-column-background-1: rgba(61, 63, 64, 0.5);
$dark-table-header-column-background-2: #3d3f40;
$dark-table-body-row-background-primary: #101010;
$dark-table-body-row-background-secondary: rgba(42, 43, 43, 0.5);
$dark-table-body-row-background-hover: #3d3f40;
$dark-table-body-column-background-active: #3d3f40;
$dark-table-body-text-primary: #fff;
$dark-table-body-text-secondary: #c2c4c7;
$dark-table-body-column-background-1: rgba(42, 42, 43, 0.5);
$dark-table-body-column-background-2: rgba(61, 63, 64, 0.5);
$dark-button-primary-background: #0d55d9;
$dark-button-primary-border: #0d55d9;
$dark-button-primary-text: #fff;
$dark-button-primary-background-hover: #0036b5;
$dark-button-primary-border-hover: #0036b5;
$dark-button-primary-text-hover: #fff;
$dark-button-secondary-background: #3d3f40;
$dark-button-secondary-border: #3d3f40;
$dark-button-secondary-text: #fff;
$dark-button-secondary-background-hover: #656667;
$dark-button-secondary-border-hover: #656667;
$dark-button-secondary-text-hover: #fff;
$dark-button-tertiary-background: rgba(0, 0, 0, 0);
$dark-button-tertiary-border: #3d3f40;
$dark-button-tertiary-background-hover: #fff;
$dark-button-tertiary-border-hover: #fff;
$dark-button-tertiary-text: #fff;
$dark-button-tertiary-text-hover: #3d3f40;
$dark-button-live-background: #e10500;
$dark-button-live-background-hover: #cc0e00;
$dark-button-live-border: #e10500;
$dark-button-live-text: #fff;
$dark-button-loading-border: #3d3f40;
$dark-button-loading-background: #3d3f40;
$dark-button-loading-icon-active: #c2c4c7;
$dark-button-loading-icon-inactive: #fff;
$dark-button-disabled-background: #3d3f40;
$dark-button-disabled-border: #3d3f40;
$dark-button-disabled-text: #757678;
$dark-button-toggle-unselected-background: rgba(255, 255, 255, 0);
$dark-button-toggle-unselected-background-hover: rgba(0, 74, 206, 0.2);
$dark-button-toggle-unselected-text: #4383fa;
$dark-button-toggle-unselected-text-hover: #4383fa;
$dark-button-toggle-unselected-border: #4383fa;
$dark-button-toggle-selected-background: #0d55d9;
$dark-button-toggle-selected-background-hover: #0036b5;
$dark-button-toggle-selected-text: #fff;
$dark-button-toggle-selected-border: #0d55d9;
$dark-button-toggle-selected-border-hover: #0036b5;
$sportsline-auxiliary-0: #fcfdfd;
$sportsline-auxiliary-5: #f2f3f4;
$sportsline-auxiliary-10: #e6e7e9;
$sportsline-auxiliary-20: #cdced2;
$sportsline-auxiliary-30: #b4b6bc;
$sportsline-auxiliary-40: #9b9da6;
$sportsline-auxiliary-50: #82858f;
$sportsline-auxiliary-60: #696d79;
$sportsline-auxiliary-70: #505463;
$sportsline-auxiliary-80: #373c4d;
$sportsline-auxiliary-90: #1e253d;
$sportsline-auxiliary-95: #11172b;
$sportsline-auxiliary-100: #050d27;
$fantasy-games-golf-props-1: #45cc56;
$fantasy-games-golf-props-2: #469944;
$fantasy-games-golf-props-3: #a5f40c;
$fantasy-games-parlay-pickem-1: #1699dc;
$fantasy-games-parlay-pickem-2: #ff4c00;
$fantasy-games-parlay-pickem-3: #d0c1c9;
$fantasy-games-bracket-games-1: #e06817;
$fantasy-games-bracket-games-2: #cb3735;
$fantasy-games-football-pickem-1: #1a69b7;
$fantasy-games-football-pickem-2: #d00;
$fantasy-games-football-pickem-3: #b4b7c0;
$fantasy-games-college-pickem-1: #dbb809;
$fantasy-games-college-pickem-2: #d2a628;
$fantasy-games-football-props-1: #00bc6f;
$fantasy-games-football-props-2: #077b49;
$fantasy-games-soccer-props-1: #9d22ff;
$fantasy-games-soccer-props-2: #adafb2;
$internal-brands-cbs: #0281fe;
$internal-brands-hq-am-pm: #004482;
$internal-brands-pick-six: #035d10;
$internal-brands-fantasy-football-today: #043762;
$internal-brands-fantasy-baseball-today: #f00;
$internal-brands-the-first-cut: #0e6011;
$leagues-baseball-mlb-primary: #002d72;
$leagues-baseball-mlb-secondary: #d50032;
$leagues-basketball-nba-primary: #1d428a;
$leagues-basketball-nba-secondary: #c8102e;
$leagues-basketball-wnba-primary: #000;
$leagues-basketball-wnba-secondary: #fa4d00;
$leagues-basketball-big-3-primary: #002b5c;
$leagues-basketball-big-3-secondary: #e31837;
$leagues-bull-riding-pbr-primary: #000;
$leagues-bull-riding-pbr-secondary: #fe141f;
$leagues-combat-boxing-primary: #db2126;
$leagues-combat-boxing-secondary: #2a2d3f;
$leagues-combat-mma-primary: #771b1b;
$leagues-combat-mma-secondary: #bcbcbc;
$leagues-combat-wwe-primary: #000;
$leagues-combat-wwe-secondary: #d7182a;
$leagues-combat-bellator-primary: #000;
$leagues-combat-bellator-secondary: #ed1c24;
$leagues-college-ncaa-primary: #0077c8;
$leagues-college-ncaa-secondary: #009cde;
$leagues-football-nfl-primary: #003369;
$leagues-football-nfl-secondary: #d50a0a;
$leagues-football-afc-conference-primary: #ce202c;
$leagues-football-afc-conference-secondary: #fefefe;
$leagues-football-nfc-conference-primary: #003b66;
$leagues-football-nfc-conference-secondary: #fefefe;
$leagues-football-sec-conference-primary: #27508d;
$leagues-football-sec-conference-secondary: #f5cc16;
$leagues-football-xfl-primary: #02214f;
$leagues-football-xfl-secondary: #c80000;
$leagues-football-usfl-primary: #1e376c;
$leagues-football-usfl-secondary: #ce202f;
$leagues-golf-primary: #313c4c;
$leagues-golf-secondary: #dbdbdb;
$leagues-golf-lpga-primary: #005288;
$leagues-golf-lpga-secondary: #fff;
$leagues-golf-pga-primary: #120c3e;
$leagues-golf-pga-secondary: #a0873d;
$leagues-golf-masters-primary: #0a2f16;
$leagues-golf-masters-secondary: #fff200;
$leagues-tennis-primary: #275b4d;
$leagues-tennis-secondary: #0bb564;
$leagues-olympics-primary: #3d77b4;
$leagues-olympics-secondary: #de413b;
$leagues-olympics-gold: #cc9618;
$leagues-olympics-silver: #a6a9ad;
$leagues-olympics-bronze: #805804;
$leagues-olympics-brand: #0078d0;
$leagues-hockey-nhl-primary: #231f20;
$leagues-hockey-nhl-secondary: #cfd2d3;
$leagues-motorsports-nascar-primary: #e4002b;
$leagues-motorsports-nascar-secondary: #007ac2;
$leagues-motorsports-formula-1-primary: #15151e;
$leagues-motorsports-formula-1-secondary: #ff1e00;
$leagues-motorsports-srx-primary: #3a3a3c;
$leagues-motorsports-srx-secondary: #e87124;
$leagues-poker-wsop-primary: #231f20;
$leagues-poker-wsop-secondary: #ed1c24;
$leagues-soccer-english-premier-league-primary: #3d195b;
$leagues-soccer-english-premier-league-secondary: #05f0e0;
$leagues-soccer-la-liga-primary: #d20028;
$leagues-soccer-la-liga-secondary: #f6be00;
$leagues-soccer-serie-a-primary: #24195d;
$leagues-soccer-serie-a-secondary: #0373ff;
$leagues-soccer-bundesliga-primary: #d20515;
$leagues-soccer-bundesliga-secondary: #fff;
$leagues-soccer-europa-league-primary: #000;
$leagues-soccer-europa-league-secondary: #ff6900;
$leagues-soccer-europa-conference-primary: #000;
$leagues-soccer-europa-conference-secondary: #00be14;
$leagues-soccer-ligue-1-primary: #091c3e;
$leagues-soccer-ligue-1-secondary: #cdfb0a;
$leagues-soccer-liga-mx-primary: #072146;
$leagues-soccer-liga-mx-secondary: #c1d82f;
$leagues-soccer-mls-primary: #001f5b;
$leagues-soccer-mls-secondary: #e22319;
$leagues-soccer-argentina-lpf-primary: #00476b;
$leagues-soccer-argentina-lpf-secondary: #0bbad9;
$leagues-soccer-coppa-italia-primary: #d32530;
$leagues-soccer-coppa-italia-secondary: #0e8a4b;
$leagues-soccer-brasileiro-primary: #050b2b;
$leagues-soccer-brasileiro-secondary: #d7fe00;
$leagues-soccer-scottish-professional-football-league-primary: #181d4b;
$leagues-soccer-scottish-professional-football-league-secondary: #cf9d12;
$leagues-soccer-champions-league-primary: #00004b;
$leagues-soccer-champions-league-secondary: #0d3aff;
$leagues-soccer-nwsl-primary: #1d2d53;
$leagues-soccer-nwsl-secondary: #d22030;
$leagues-soccer-world-cup-primary-light: #9a1032;
$leagues-soccer-world-cup-secondary-light: #fff;
$leagues-soccer-world-cup-primary-dark: #50b0a0;
$leagues-soccer-womens-world-cup-primary-light: #ec5e2f;
$leagues-soccer-womens-world-cup-secondary-light: #2b5b6c;
$leagues-soccer-womens-world-cup-primary-dark: #f2a44b;
$leagues-soccer-womens-world-cup-secondary-dark: #4c726c;
$paramount-peak-blue: #0064ff;
$paramount-secondary-blue-1: #1996ff;
$paramount-secondary-blue-2: #003296;
$paramount-secondary-blue-3: #00004b;
$paramount-snowcap-white: #fff;
$paramount-basalt-black: #000;
$paramount-gray-1: #e9eaec;
$paramount-gray-2: #e0e3ea;
$paramount-gray-3: #d7dce7;
$paramount-gray-4: #9ba8bd;
$paramount-gray-5: #5b626e;
$paramount-gray-6: #1b1c1e;
$social-facebook: #1877f2;
$social-flipboard: #f52828;
$social-google: #4285f4;
$social-instagram: #c32aa3;
$social-linkedin: #007bb5;
$social-pinterest: #e60023;
$social-reddit: #ff4500;
$social-rss: #f26522;
$social-snapchat: #fffc00;
$social-threads: #000;
$social-tiktok: #000;
$social-x: #000;
$social-youtube: #f00;
$social-twitter: #1da1f2;
$caesars-pine: #173432;
$caesars-gold: #c5a459;
$caesars-cool-gray: #e8e3de;
$caesars-bg-black: #070607;
$caesars-bg-white: #fff;
$caesars-gold-on-white: #98845a;
$caesars-gold-on-black: #cbaa65;
$fubo-primary: #e7542f;
$stubhub-primary: #3f1d74;
$stubhub-secondary: #fff;
$stubhub-tertiary: #e4eef3;
$light-surface-overlay-thumbnail: linear-gradient(180deg,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.5) 100%);
$light-surface-overlay-video-controls: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.75) 100%);
$breakpoint-mobile: 321px;
$breakpoint-tablet-portrait: 786px;
$breakpoint-mobile-max: 500px;
$breakpoint-desktop-narrow: 1024px;
$breakpoint-desktop: 1278px;
$breakpoint-desktop-wide: 1536px;
$breakpoint-tv: 1920px;
$border-radius-0: 0px;
$border-radius-2: 2px;
$border-radius-4: 4px;
$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-full: 9999px;
$border-radius-circle: 50%;
$duration-xfast: 0.15s;
$duration-fast: 0.2s;
$duration-normal: 0.3s;
$duration-slow: 0.4s;
$duration-xslow: 0.5s;
$duration-scrolljack: 0.6s;
$duration-xxslow: 1s;
$font-size-60: 10px;
$font-size-75: 12px;
$font-size-90: 14px;
$font-size-100: 16px;
$font-size-110: 18px;
$font-size-125: 20px;
$font-size-150: 24px;
$font-size-200: 32px;
$font-size-250: 40px;
$font-size-300: 48px;
$font-size-400: 64px;
$font-size-500: 80px;
$font-size-600: 96px;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 200;
$letter-spacing-none: 0em;
$letter-spacing-tight: 0.02em;
$letter-spacing-loose: 0.03em;
$letter-spacing-xloose: 0.06em;
$line-height-comfy: 1.6;
$line-height-none: 1;
$line-height-normal: 1.2;
$line-height-body: 1.3;
$spacing-25: 4px;
$spacing-50: 8px;
$spacing-75: 12px;
$spacing-100: 16px;
$spacing-125: 20px;
$spacing-150: 24px;
$spacing-200: 32px;
$spacing-250: 40px;
$spacing-300: 48px;
$spacing-400: 64px;
$spacing-600: 96px;
$spacing-800: 128px;
$spacing-nudge-1: 1px;
$spacing-nudge-2: 2px;
$spacing-nudge-3: 3px;
$logo-sports-size-100: 16px;
$logo-sports-size-125: 20px;
$logo-sports-size-150: 24px;
$logo-sports-size-200: 32px;
$logo-sports-size-250: 40px;
$logo-sports-size-300: 48px;
$logo-sports-size-400: 64px;
$logo-sports-size-450: 72px;
$logo-sports-size-500: 80px;
$logo-sports-size-600: 96px;
$logo-sports-size-1200: 192px;
$logo-sports-size-2200: 352px;
$headshot-size-200: 32px;
$headshot-size-250: 40px;
$headshot-size-300: 48px;
$headshot-size-400: 64px;
$headshot-size-450: 72px;
$headshot-size-500: 80px;
$headshot-size-600: 96px;
$light-elevation-0: 0 1px 2px 0 rgba(0,0,0,0.2);
$light-elevation-5: 0 2px 4px 0 rgba(0,0,0,0.2);
$light-elevation-10: 0 4px 8px 0 rgba(0,0,0,0.2);
$light-elevation-20: 0 8px 12px 0 rgba(0,0,0,0.2);
$light-elevation-30: 0 12px 16px 0 rgba(0,0,0,0.2);
$light-elevation-40: 0 16px 20px 0 rgba(0,0,0,0.2);
$light-elevation-50: 0 20px 24px 0 rgba(0,0,0,0.2);
$dark-elevation-0: 0 1px 2px 0 rgba(0,0,0,1);
$dark-elevation-5: 0 2px 4px 0 rgba(0,0,0,1);
$dark-elevation-10: 0 4px 8px 0 rgba(0,0,0,1);
$dark-elevation-20: 0 8px 12px 0 rgba(0,0,0,1);
$dark-elevation-30: 0 12px 16px 0 rgba(0,0,0,1);
$dark-elevation-40: 0 16px 20px 0 rgba(0,0,0,1);
$dark-elevation-50: 0 20px 24px 0 rgba(0,0,0,1);
$dynamic-elevation-0: 0 1px 2px 0 rgba(0,0,0,0.5);
$dynamic-elevation-5: 0 2px 4px 0 rgba(0,0,0,0.5);
$dynamic-elevation-10: 0 4px 8px 0 rgba(0,0,0,0.5);
$dynamic-elevation-20: 0 8px 12px 0 rgba(0,0,0,0.5);
$dynamic-elevation-30: 0 12px 16px 0 rgba(0,0,0,0.5);
$dynamic-elevation-40: 0 16px 20px 0 rgba(0,0,0,0.5);
$dynamic-elevation-50: 0 20px 24px 0 rgba(0,0,0,0.5);
$font-family-narrow: 'FS Industrie Nw', 'FSIndustrieNw-Bold', Helvetica, Arial, sans-serif;
$font-family-standard: 'FS Industrie', 'FSIndustrie-Bold', Helvetica, Arial, sans-serif;